node_modules
.vscode
cpachecker-vscode-plugin-poc-0.0.1.vsix

# TypeScript artifacts
*.js
*.js.map
out
*.tsbuildinfo

# environment secrets
.env
.env.local
.env.*.local

# Compiled class file
*.class

# Log file
*.log